/pyFiles/main_v.0.py
/pyFiles/1048121283
/pyFiles/YandexTranslator/folderID_modul.py
/pyFiles/YandexTranslator/Last_get_Token
/pyFiles/WeatherApi/API key
/pyFiles/config_inf.py
/pyFiles/YandexTranslator/IM_TOKEN
/pyFiles/test.py
/pyFiles/Database/weather_data.db
/.idea/*
